@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*|| Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/*|| VARIABLES */

:root {
    /* FONTS */
    --FF: "Nunito", sans-serif;
    --FF-HEADING: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    
        /* COLORS */

    --BGCOLOR: orange;
    --BGCOLOR-FACE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FACE));
    --BODY-BGCOLOR: #FFF;
    --FONT-COLOR: #000;
}

/* \\ UTILITY CLASSES */
.offscreen {
    position: absolute left -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* \\ GENERAL STYLEs */

html{
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}