/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */
:root {
    /* FONTS */
    --FF: "Arial", sans-serif;
    --FF-HEADING: "Arial", sans-serif;
    --FS: 1rem;

    /* COLORS */
    --HEADER-BGCOLOR: #0A3033;
    --BGCOLOR: #6B9E99;
    --BGCOLOR-FACE: #EDDDD4;
    --BODY-BGCOLOR: #FFFFFF;
    --FONT-COLOR: #0A3033;
    --BORDER-COLOR: lightgray;
    --BORDER-D-COLOR: #636059;
    --HIGHLIGHT-COLOR: #f7b731;
    --HEADER-COLOR: whitesmoke;
    --ANIMATION-BG: #e4d5b7;
    --SHADOW-COLOR: rgb(70, 72, 78);
}
html {
    scroll-behavior: smooth;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0.2, 0.2), #6B9E99), url(../img/Dev.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.banner-text p {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: var(--HEADER-COLOR);
    padding-top: 80px;
}
.banner-btn {
    margin: 70px auto 0;
    text-align: center;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: black;
    border: 0.5px solid var(--HEADER-COLOR);
    position: relative;
    transition: 0.5s;
    z-index: 1;
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.header{
    position: sticky;
    top: 0;
    z-index: 2;
    height: 200px;
    background-color: var(--HEADER-BGCOLOR);
}
.header h1{
    font-size: 4rem;
    position: sticky;
    top: 50px;
    z-index: 1;
    text-align: center;
    background-color: #0A3033;
    color: var(--HEADER-COLOR);
}

.hero {
    position: relative;
    background-color: var(--BGCOLOR);
    color: var(--ANIMATION-BG);
    padding: 150px;
    text-align: center;
}
.hero__h2 {
    font-size: 200%;
    background-color: var(--ANIMATION-BG);
    color: var(--BGCOLOR);
    padding: 0.55em 0.5em;
    border-radius: 15px;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
    z-index: 3;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
        opacity: 0;
    }

    80% {
        top: 150px;
        transform: skew(10deg, -5deg) scaleY(1.2);
        opacity: 1;
    }

    100% {
        top: 140px;
        transform: skew(-10deg, -5deg) scaleY(1);
        opacity: 1;
    }
}

/* GENERAL STYLES 
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    font-size: 2rem;
}

.header__h1 {
    font-size: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

.header__ul {
    color: #6B9E99;
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row nowrap;
}


.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 400px;
    margin: 0 auto;
}

.photo {
    max-width: 80%;
    max-height: 400px;
}

.about-me {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.15;
}

.developer {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: justify;
}



/* GENERAL STYLES 
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
}
    .header__ul {
    list-style-type: none;
    display: flex;
   
}

/* HEADER 
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    border: 2px solid var(--BORDER-COLOR);
}

h1 {
    font-size: 2rem;
}

h2,
h3 {
    font-family: var(--FF-HEADING);
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a {
    color: var(--FONT-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--HIGHLIGHT-COLOR);
}

a:active {
    color: var(--BGCOLOR);
}

.header__h1 {
    font-size: 2.5rem;
}

.header__nav {
    border-bottom: 2px solid var(--BORDER-COLOR);
    font-weight: bold;
}



/* HERO 
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.hero figcaption {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--HIGHLIGHT-COLOR);
}

/* FOOTER 
.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--BGCOLOR);
    color: var(--FONT-COLOR);
    padding: 1rem;
    text-align: center;
}

/* MAIN 
.main {
    padding: 1rem;
}

/* ABOUT ME 
.about-me {
    font-size: 1.5rem;
    text-align: center;
}
*/